@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;

}

.container {
  border-radius: 12px;
  margin: 0 auto;
  padding: 10px;
  height: 450px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

.img-section {
    
 border-radius: 12px;
  height: 250px;
  width: 250px;
}

.text {
  font-size: 15px;
  color: hsl(212, 40%, 40%);
}
